@model IEnumerable<Putilin2018.Models.Рейс>

@{
    ViewBag.Title = "Список рейсов";
}

<h2>Список рейсов</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table" align="left">
    <tr>
        <th>
            <label class="control-label">Номер ПЛ</label>
        </th>
        <th>
            <label class="control-label ">Дата</label>
</th>
        <th>
            <label class="control-label ">ГСМ на выезде</label>
</th>
        <th>
            <label class="control-label ">Выдано ГСМ</label>
</th>
        <th>
            <label class="control-label ">Нач. спидометр</label>
</th>
        <th>
            <label class="control-label ">Норма</label>
</th>
        <th>
            <label class="control-label ">Пробег</label>
</th>
        <th>
            <label class="control-label ">Расход ГСМ</label>
</th>
        <th>
            <label class="control-label ">Примеч.</label>
</th>
        <th>
            <label class="control-label ">ФИО</label>
</th>
        <th>
            <label class="control-label ">Название автомобиля</label>
</th>
        <th>
            <label class="control-label ">Название задачи</label>
</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Номер_путевого_листа)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Дата_рейса)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Остаток_ГСМ_на_въезде)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Выдано_ГСМ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Нач_спидометр)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Норма)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Пробег)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Расход_ГСМ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Примечание)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Voditel.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Автомобиль.Название_автомобиля)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Задача.Название_задачи)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Данные", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id = item.Id }) |
            @Html.ActionLink("Маршрут", "Index", "Пункты_рейса", new { РейсID = item.Id }, new { target = "_blank" }) |
            @Html.ActionLink("Задержки", "DelayReport", "Пункты_рейса", new { РейсID = item.Id, ДатаРейса = item.Дата_рейса, Водитель = item.Voditel.fio, Автомобиль = item.Автомобиль.Название_автомобиля, ПЛ = item.Номер_путевого_листа, Госномер = item.Автомобиль.Госномер }, new { target = "_blank" }) 
        </td>
    </tr>
}

</table>
