@{
    ViewBag.Title = "Меню приложения:";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<div class="row">
    <div class="col-md-4">

        <h3>Основные действия:</h3>
        <menu>
            <li>Рейсы</li>
            <li>Ремонты</li>
            <li>Отчеты</li>
        </menu>
    </div>
    <div class="col-md-4">
        <h3>Справочники:</h3>
        <menu>
            <li>@Html.ActionLink("Группы задач", "Index", "Группы_задач")</li>
            <li>@Html.ActionLink("Пункты регулярной доставки", "Index", "Пункт_доставки")</li>
            <li>@Html.ActionLink("Водители", "Index", "Voditels")</li>
            <li>@Html.ActionLink("Типы ТС", "Index", "Тип_ТС")</li>
            <li>@Html.ActionLink("Получатели", "Index", "Получатель")</li>            
            <li>@Html.ActionLink("Задачи", "Index", "Задача")</li>
            <li>@Html.ActionLink("Автопарк", "Index", "Автомобиль")</li>
            <li>@Html.ActionLink("Регулярные маршруты", "Index", "Маршрут")</li>
        </menu>
    </div>


</div>

