@model IEnumerable<Putilin2018.Models.get_cost_report_Result>

@{
    ViewBag.Title = "Сводный отчет по стоимости";
}

<h2>Сводный отчет по стоимости c @ViewBag.date_start по @ViewBag.date_start</h2>

<table class="table">
        <tr>
            <th>
                <label class="control-label col-md-2">Группа задач</label>
            </th>
            <th>
                <label class="control-label col-md-2">Задача</label>
            </th>
            <th>
                <label class="control-label col-md-2">Стоимость ГСМ</label>
            </th>
            <th>
                <label class="control-label col-md-2">Стоимость ремонтов</label>
            </th>
            <th>
                <label class="control-label col-md-2">Общая стоимость</label>
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.groupname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.taskname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fuel_paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.repair_paid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_paid)
            </td>
        </tr>


    }
    <tr>
        <th></th>
        <th></th>
        <th>@ViewBag.sum3</th>
        <th>@ViewBag.sum4</th>
        <th>@ViewBag.sum5</th>
    </tr>
</table>