@model Putilin2018.Models.Ремонт

@{
    ViewBag.Title = "Добавить";
}

<h2>Добавить</h2>

<script language="javascript">
    var options = {
        day: 'numeric',
        month: 'numeric',
        year: 'numeric'
    }

    function getDate(str) {
        var date = new Date(str);
        return date.toLocaleString('ru', options)
    }

    function ChangeDate() {
        var elem = document.getElementById('repairdate');
        var elem2 = document.getElementById('dp1');
        elem.textContent = getDate(elem2.value);
    }
    function ChangeDateEx() {
        var elem = document.getElementById('repairdateex');
        var elem2 = document.getElementById('dp1ex');
        elem.textContent = getDate(elem2.value);
    }
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ремонт</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Дата_заявки, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <table border="0">
                    <tr>
                        <td width="40"><div id="repairdate">@ViewBag.RepairDate2</div></td>
                        <td>
                            @Html.EditorFor(model => model.Дата_заявки, new { htmlAttributes = new { @id = "dp1", @class = "form-control", style = "width:70px;", @Value = ViewBag.RepairDate, @onChange = "ChangeDate();" } })
                        </td>
                    </tr>
                </table>
                @Html.ValidationMessageFor(model => model.Дата_заявки, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.АвтомобильID, "АвтомобильID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("АвтомобильID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.АвтомобильID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Содержание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Содержание, new { htmlAttributes = new { @class = "form-control", @Value = "-" } })
                @Html.ValidationMessageFor(model => model.Содержание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Дата_выполнения, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <table border="0">
                    <tr>
                        <td width="40"><div id="repairdateex">@ViewBag.RepairDate2</div></td>
                        <td>
                            @Html.EditorFor(model => model.Дата_выполнения, new { htmlAttributes = new { @id = "dp1ex", @class = "form-control", style = "width:70px;", @Value = ViewBag.RepairDate, @onChange = "ChangeDateEx();" } })
                        </td>
                    </tr>
                </table>

                

                @Html.ValidationMessageFor(model => model.Дата_выполнения, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Статус_заявкиID, "Статус_заявкиID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Статус_заявкиID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Статус_заявкиID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Стоимость_ремонта, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Стоимость_ремонта, new { htmlAttributes = new { @class = "form-control", @Value = "0" } })
                @Html.ValidationMessageFor(model => model.Стоимость_ремонта, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Примечание, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Примечание, new { htmlAttributes = new { @class = "form-control", @Value = "-" } })
                @Html.ValidationMessageFor(model => model.Примечание, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Добавить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
