@model IEnumerable<Putilin2018.Models.Пункты_регулярного_маршрута>

@{
    ViewBag.Title = "Список";
}

<h2>Список</h2>

<p>
    @Html.ActionLink("Добавить", "Create", new {МаршрутID = @ViewBag.МаршрутID })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Время_плановое)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Примечание)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Задача.Название_задачи)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Маршрут.Название_маршрута)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Пункт_доставки.Название_пункта)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Время_плановое)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Примечание)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Задача.Название_задачи)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Маршрут.Название_маршрута)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Пункт_доставки.Название_пункта)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id = item.Id, МаршрутID = @ViewBag.МаршрутID }) |
            @Html.ActionLink("Данные", "Details", new { id=item.Id, МаршрутID = @ViewBag.МаршрутID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id, МаршрутID = @ViewBag.МаршрутID })
        </td>
    </tr>
}



</table>
<p>@ViewBag.Message2</p>

<p>
    @Html.ActionLink("Вернуться к списку маршрутов", "Index", "Маршрут")
</p>
