@model Putilin2018.Models.Voditel

@{
    ViewBag.Title = "Добавить водителя";
}

<h2>Добавить водителя</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Водитель</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="fio" class="control-label col-md-2">Фамилия</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.fio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="license_expire" class="control-label col-md-2">Срок действия водительских прав</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.license_expire, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.license_expire, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="categories" class="control-label col-md-2">Водительские категории</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.categories, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categories, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("К списку водителей", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
