@model Putilin2018.Models.Voditel

@{
    ViewBag.Title = "Данные";
}

<h2>Данные</h2>

<div>
    <h4>Водитель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">ФИО</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fio)
        </dd>

        <dt>
            <label class="control-label col-md-2">Срок действия прав</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_expire)
        </dd>

        <dt>
            <label class="control-label col-md-2">Категории</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
