@model Putilin2018.Models.Voditel

@{
    ViewBag.Title = "Параметры записи";
}

<h2>Данные водителя</h2>

<div>
    <h4>Водитель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label col-md-2">ФИО</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fio)
        </dd>

        <dt>
            <label class="control-label col-md-2">Продлить права до</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.license_expire)
        </dd>

        <dt>
            <label class="control-label col-md-2">Категории</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categories)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
