@model IEnumerable<Putilin2018.Models.Voditel>

@{
    ViewBag.Title = "Учет водителей";
}

<h2>Список водителей</h2>

<p>
    @Html.ActionLink("Добавить водителя", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.fio)*@
            <label class="control-label col-md-2">ФИО</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.license_expire)*@
            <label for="license_expire" class="control-label col-md-2">Срок действия прав до</label>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.categories)*@
            <label for="categories" class="control-label col-md-26">Категории</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license_expire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categories)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Данные", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
