@model IEnumerable<Putilin2018.Models.Voditel>

@{
    ViewBag.Title = "Список";
}

<h2>Список</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <label class="control-label col-md-2">ФИО</label>
        </th>
        <th>
            <label class="control-label col-md-2">Срок действия прав</label>
        </th>
        <th>
            <label class="control-label col-md-2">Категории</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.license_expire)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.categories)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Данные", "Details", new { id=item.Id }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
