@model Putilin2018.Models.Задача

@{
    ViewBag.Title = "Данные";
}

<h2>Данные</h2>

<div>
    <h4>Задача</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Название_задачи)*@
            <label class="control-label  col-md-2">Название задачи</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_задачи)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Группы_задач.Название_группы)*@
            <label class="control-label col-md-2">Группа задач</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Группы_задач.Название_группы)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Примечание)*@
            <label class="control-label col-md-2">Примечание</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечание)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
