@model Putilin2018.Models.Группы_задач

@{
    ViewBag.Title = "Данные группы";
}

<h2>Данные группы</h2>

<div>
    <h4>Группы_задач</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Название_группы)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_группы)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Примечание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Примечание)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Вернуться к списку", "Index")
</p>
